DDM_DB_HOST=host.docker.internal
DDM_DB_PORT=3307
DDM_DB_NAME=distdb
DDM_DB_USER=ddm_app
DDM_DB_PASS=change-me
DDM_MYSQL_ROOT_PASSWORD=change-me-root
DDM_DB_HOST_PORT=3307
DDM_APP_PORT=8080
DDM_RUN_MIGRATIONS=true
DDM_ADMIN_EMAIL=
DDM_ADMIN_PASSWORD=
DDM_ADMIN_NAME=Initial Admin
